div(flex layout="column")
  
  score
  
  div
    point-selector(annonce="annonce" bonus="bonus")
  
  div(flex="grow" layout="column" layout-align="center")
    h3.qui-prend Qui prend ?

    md-radio-group(
      ng-model='team' flex="initial" layout="row"
      layout-align="space-around"
    )
      md-radio-button.md-primary(value='NOUS') Nous
      md-radio-button.md-primary(value='EUX')  Eux 
  
  div
    div(layout="column" layout-align="center center")
      h3(flex) Résultats 
        md-icon(md-svg-icon="information-outline" ng-click="openInfo(annonce, $event)")
    md-grid-list(
      md-cols='2'
      md-row-height='2:1'
      md-gutter='1px'
    )
      md-grid-tile.md-raised.md-accent(
        md-ink-ripple
        ng-click="ko(team, annonce, bonus, $event)"
      )
        h3 C'est chu !
      md-grid-tile.md-raised.md-primary(
        md-ink-ripple
        ng-click="ok(team, annonce, bonus, $event)"
      )
        h3 C'est fait !
