h1 Nouvelle Donne

h3 Annonce
md-slider(
  ng-model='annonce'
  step='10', md-discrete=''
  min='80'
  max='250'
  aria-label='Annonce'
)

md-radio-group(ng-model='bonus')
  md-radio-button.md-primary(value='NORMAL') Normal
  md-radio-button.md-primary(value='COINCHE')  Coinché 
  md-radio-button.md-primary(value='SURCOINCHE') Surcoinché

h3 Qui prend ?

md-radio-group(ng-model='team')
  md-radio-button.md-primary(value='NOUS') Nous
  md-radio-button.md-primary(value='EUX')  Eux 
  
md-button.md-raised.md-primary(ng-click="ok(team, annonce, bonus)") C'est fait !
md-button.md-warn(ng-click="ko(team, annonce, bonus)") C'est chu !

h3 Score
span Nous: {{ score.nous }} - Eux : {{ score.eux }}
